<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247475802290-slfc1mtet3ilq9at7m5nqg1rtom53ggo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247475802290-slfc1mtet3ilq9at7m5nqg1rtom53ggo</string>
	<key>API_KEY</key>
	<string>AIzaSyBfx_NB_kPLkmwWg3eqvUH5bQypTHvQw4U</string>
	<key>GCM_SENDER_ID</key>
	<string>247475802290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.TastyBox-CICCC</string>
	<key>PROJECT_ID</key>
	<string>tastybox-7f666</string>
	<key>STORAGE_BUCKET</key>
	<string>tastybox-7f666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247475802290:ios:0ff82398f57c8ebe1839ab</string>
	<key>DATABASE_URL</key>
	<string>https://tastybox-7f666.firebaseio.com</string>
</dict>
</plist>